<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273623369521-njkj8ococadin3neov236e271a70mtvn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273623369521-njkj8ococadin3neov236e271a70mtvn</string>
	<key>API_KEY</key>
	<string>AIzaSyCP-pNpR1XZMpY2B1CrtgVHZZNLGhJit_A</string>
	<key>GCM_SENDER_ID</key>
	<string>273623369521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zapes</string>
	<key>PROJECT_ID</key>
	<string>zapes-d03d1</string>
	<key>STORAGE_BUCKET</key>
	<string>zapes-d03d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273623369521:ios:e7c7e161d67a3610bad210</string>
	<key>DATABASE_URL</key>
	<string>https://zapes-d03d1.firebaseio.com</string>
</dict>
</plist>